@font-face {
  font-family: "AbelPro";
  src: url("./fonts/Abel-Pro.otf");
}

@font-face {
  font-family: "AbelPro";
  font-weight: bold;
  src: url("./fonts/Abel-Pro-Bold.otf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --space-tiny: 0.5rem;
  --space-small: 1rem;
  --space-medium: 1.5rem;
  --space-large: 3.5rem;

  --text-color: #253a93;
}

html {
  background: url("images/bg_art.png");
}

body {
  font-family: "AbelPro", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
